.selectdrop{width: 100%;}
.lg_space{padding: 20px 10px;}
body .MuiGrid-spacing-xs-1 > .MuiGrid-item{width: 100%;}
body .selectAll{padding: 0px; text-transform: capitalize;}
body div div.accordinheadding{padding-left: 6px;}
@media(max-width: 767px){
  .lg_space{padding: 20px 0px;}
}