@import './utils/mixins';

.breadcrumbs-wrapper {
  display: block;
  height: auto;
  margin: 15px;
  width: 100%;

  ol {
    li {
      a {
        color: #737373;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
      }
      &:not(:last-child) {
        a {
          @include prefixer(transition, 'color 0.3s ease');

          &:hover {
            color: #000000;
          }
        }
      }
      &:last-child {
        a {
          color: $theme;
          font-weight: 600;
          pointer-events: none;
        }
      }
    }
  }
}