@import './utils/mixins';

.loader-wrapper {
  position: relative;
  pointer-events: none;
  height: 400px;
}
.section-loader {
  position: relative;
  pointer-events: none;
  .page-loader {
    background: transparent;
  }
}

.page-loader {
  align-items: center;
  background: rgba(255,255,255,1);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  span {
    animation: pageLoader 1s infinite ease-in-out;
    background: $theme;
    height: 10px;
    margin: 1px;
    width: 5px;

    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        animation-delay: calc((1s / 7) * #{$i});
      }
    }
  }
}

@keyframes pageLoader {
  0% {
    opacity: .4;
    @include prefixer(transform, 'scaleY(1)');
  }

  50% {
    opacity: 1;
    @include prefixer(transform, 'scaleY(1.5)');
  }

  100% {
    opacity: .4;
    @include prefixer(transform, 'scaleY(1)');
  }
}