.loginbox{
  margin: 64px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bgimg {
  background-size: cover;
  background-color: #fafafa;
  background-image: url('/assets/images/login.jpg');
  background-repeat: no-repeat;
  background-position: left top;
}
.tre_bg{
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 15px;
}